<html lang="zh-TW" itemscope itemtype="https://schema.org/WebPage">
<head>
	<meta charset="UTF-8">
	<title>Demo: News Highlight</title>
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
	<div id="header"></div>
	<div id="app">
		<section class="getName">
			<input placeholder="輸入 你/妳 的名字" v-model="name">
		</section>
		<news v-for="item in data" v-bind:news="item"></news>
	</div>
</body>
<script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="assets/js/components/news.js"></script>
<script src="assets/js/config.js"></script>
<script src="assets/js/data/news.js"></script>
<script src="assets/js/main.js"></script>
</html>
