html, body {
    background: #f1f1f1;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 3px;
    margin-bottom: 20px;
    background: #a21f23;
}

h1 {
    position: relative;
    display: block;
    font-weight: 700;
    font-size: 34px;
    line-height: 48px;
}

input {
    width: 100%;
    box-shadow: 0;
    outline: none;
    height: 42px;
    font-size: 16px;
    line-height: 22px;
    padding: 0 18%;
    overflow-y: hidden;
    margin-top: 27px;
}

mark {
    text-decoration: none
}

mark[title]:hover:after {
    content: "Marked by " attr(title);
    display: block;
    padding: 2px 8px;
    color: #fff;
    background: #2c3e50;
    position: absolute;
    right: -150px;
}

footer {
    width: 100%;
    height: 3px;
    background: #a21f23;
}

.small {
    line-height: 0;
    margin-top: -1px;
    margin-bottom: 13px;
    border: 0;
    font: inherit;
    font-weight: 300;
    line-height: 1;
    letter-spacing: .5px;
    font-size: 15px;
}

.small .author {
    margin-right: 15px;
}

.article img {
    display: block;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.title {
    padding-top: 2px;
    width: 800px;
    position: relative;
    margin: auto;
}

.content {
    width: 800px;
    position: relative;
    margin: auto;
}

.content p {
    letter-spacing: 1px;
    line-height: 2;
    color: #333;
}

#source {
    width: 100px;
    margin: auto;
}

#source a {
    color: #828282;
    font-size: 10px;
    text-decoration: none;
}
